<h1>
    Pagina Principal
</h1>

<h3>Bem vindo </h3>
{{#each logof}}

    <h3>{{nomeUsuario}}</h3>
    <h3>{{id}}</h3>
    
{{/each}}

<a href="/usuario/list" class="btn btn-primary">
    Listar
</a>

<a href="/broker/create/{{logof._id}}" class="btn btn-primary">
    Cadastrar Broker
</a>

 <a href="/usuario/update/{{logof._id}}" class="btn btn-secondary">
                    Edit
</a>

<a href="/broker/list/{{logof._id}}" class="btn btn-primary">
    Listar Broker
</a>

<a href="/topico/create/{{logof._id}}" class="btn btn-primary">
    Cadastrar Topico
</a>

<a href="/topico/list/{{logof._id}}" class="btn btn-primary">
    Listar Topico
</a>




